body {
    margin: 0;
}

p {
    margin: 0;
}

.notification {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 10px;
    min-height: 150px;
    width: 350px;
    background-image: linear-gradient(2700deg, #f2f7f6, #e3f7f4);
    padding: 10px 30px 10px 15px;
    font-size: 1.125rem;
    border-radius: 5px;
}

.notification__exit-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.notification__text {
    margin-bottom: 20px;
    flex-grow: 1;
}

.notification__inputs {
    display: flex;
    justify-content: space-between;
}

.notification__gallery-radio-buttons {
    display: inline-flex;
    width: 63px;
    overflow: hidden;
}
