body {
    margin: 0;
}

p {
    margin: 0;
}

.notification {
    position: fixed;
    right: 10px;
    top: 10px;
    min-height: 150px;
    width: 350px;
    background-image: linear-gradient(270deg, #f2f7f6, #e3f7f4);
    padding: 10px 30px 10px 15px;
    font-size: 1.125rem;
    border-radius: 5px;
    overflow: hidden;
}

.notification__exit-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.notification__texts-container {
    display: flex;
    margin-bottom: 20px;
    width: 9999px;
    height: 108px;
}

.notification__inputs {
    display: flex;
    justify-content: space-between;
}

.notification__gallery-radio-buttons {
    display: inline-flex;
    width: 63px;
    overflow: hidden;
}

.notification__text {
    width: 330px;
    height: 100%;
    margin-right: 20px; 
    overflow: hidden;
}
