@font-face {
    font-family: 'Trend Sans One';
    src: url('./fonts/trendsansone/TrendSansOne.woff2') format('woff2'),
        url('./fonts/trendsansone/TrendSansOne.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

figure {
    margin: 0;
}

cite {
    font-style: normal;
}

p {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__logo {
    margin: 0 auto;
    color: #6794b7;
    font-size: 2.4rem;
    min-height: 53px;
    display: flex;
    font-family: 'Trend Sans One';
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.header__logo > a {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    background-color: #6b9ad0;
    min-height: 34px;
    padding: 2px;
    justify-content: space-between;
}

.header__menu-buttons {
    display: inline-flex;
    list-style-type: none;
    font-family: 'Arial Regular', Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
}

.header__menu-buttons > li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    background-color: hsl(212, 43%, 67%);
    margin-right: 3px;
    color: #608dc1;
    cursor: pointer;
}

.header__menu-buttons > li:last-child {
    margin-right: 0;
}

.header__menu-buttons > li:hover {
    background-color: hsl(212, 43%, 87%);
}

.tag_reverse {
    transform: rotate(180deg);
}

.header__nav-option {
    font-size: 2.0rem;
    background-color: transparent;
    border: 0;
    color: hsl(212, 31%, 75%);
    cursor: pointer;
    min-height: 3.0rem;
    min-width: 3.0rem;
}

.header__nav-option:hover {
    color: hsl(212, 40%, 95%);
}

.header__logo-img {
    min-width: 36px;
    min-height: 36px;
    margin-left: 6px;
    margin-right: 6px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.content__article-caption {
    font-size: 1.8rem;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5d6871;
    background-color: #f4f5f6;
    padding: 10px 40px;
    font-weight: bold;
}

.content__article {
    min-width: 28.8rem;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 16px;
}

.content__article-img {
    width: 100%;
    height: 32.5vw;
}

.content__article-meta {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #69747c;
    font-family: 'Arial Regular', Arial, Helvetica, sans-serif;
    min-height: 40px;
    align-items: center;
    border-bottom: 1px solid #e2e5e8;
}

.content__article-meta span {
    margin-right: 3px;
}

.content__article-text {
    font-family: 'Arial Regular', Arial, Helvetica, sans-serif;
    color: #69747c;
    font-size: 1.2rem;
    text-align: justify;
    padding-top: 16px;
    margin-bottom: 20px;
}

.content__article-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: #fff;
    font-size: 1.6rem;
}

.content__article-link {
    min-width: 40px;
    min-height: 24px;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 12.5%;
}

.content__article-link > a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.content__article-link_facebook {
    background-color: #3c5a98;
}

.content__article-link_google-plus {
    background-color: #c25234;
}

.content__article-link_twitter {
    background-color: #00aced;
}

.content__article-link_vk {
    background-color: #48729e;
}

.content__article-link_male {
    background-color: #d83933;
}

.content__article-link-count {
    font-size: 1.3rem;
}

.article__spinner-wrapper {
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

.article__spinner {
    width: 40px;
    height: 40px;
    background-image: url("./img/spinner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    animation: spinner-rotation linear 2s infinite;
}

@keyframes spinner-rotation {
    to {
        transform: rotate(-360deg);
    }
}

.content__article:last-of-type {
    margin-bottom: 0;
}

.header__nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 43px;
    background-color: hsl(212, 43%, 67%);
    color: #608dc1;
    cursor: pointer;
    border: 0;
}

.header__nav-button:hover {
    background-color: hsl(212, 43%, 87%);
}

.header__nav-tabs {
    list-style-type: none;
    display: inline-flex;
    font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #fefefe;
}

.header__nav-tabs > li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 1px 0 rgba(193, 219, 255, .67);
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.header__nav-tabs > li:hover {
    background-color: rgba(255, 255, 255, .2);
}

.header__nav-tab_active {
    position: relative;
}

.header__nav-tab_active::after {
    position: absolute;
    content: "";
    border: 7px solid transparent;
    border-top: 7px solid #6b9ad0;
    bottom: -16px;
}

.header__nav-tab_active::before {
    position: absolute;
    content: "";
    border: 13px solid transparent;
    border-top: 13px solid #c6defa;
    bottom: -28px;
}

.content__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content__tag {
    display: flex;
    align-items: center;
    font-family: 'Arial Regular', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background-color: #6794b7;
    padding-left: 12px; 
    padding-right: 20px; 
    position: relative;
    height: 16px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.content__tag::after {
    position: absolute;
    content: "";
    border: 8px solid transparent;
    border-left: 8px solid #6794b7;
    top: 0px;
    right: -16px;
}

.content__tag-circle {
    position: absolute;
    font-size: 0.8rem;
    right: -1px;
    z-index: 10;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header__logo {
        font-size: 3.8rem;
        min-height: 86px;
    }

    .header__logo-img {
        width: 56px;
        height: 56px;
    }

    .header__nav {
        min-height: 60px;
    }

    .content__article-caption {
        text-align: left;
        padding-left: 2px;
        background-color: #fff;
        border-bottom: 1px solid #e2e5e8;
    }

    .content__article-meta {
        justify-content: left;
        padding: 6px;
    }

    .content__article-meta > * {
        margin-right: 22px;
    }

    .content__article-meta > *:last-child {
        margin-right: 0;
    }

    .content__article {
        margin-bottom: 56px;
        position: relative;
        padding: 0 50px;
    }

    .content__article-links {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .content__article-link {
        margin-bottom: 5px;
        border-radius: 3px 0 0 3px;
        padding-right: 3px;
        padding-left: 3px;
        width: unset;
        min-width: unset; 
        max-width: 45px;
    }
    
    .content__article-link-count {
        margin-left: 5px;
    }

    .content__article-text {
        margin-bottom: 0;
    }

    .content {
        padding-bottom: 34px;
    }

    .header__menu-buttons > li {
        min-width: 43px;
    }

    .header__nav {
        padding-left: 0;
        padding-right: 0;
        border-bottom: 4px solid #c6defa;
    }

    .content__tags {
        margin-bottom: 24px;
        width: 100%;
        padding-left: 45px;
        padding-right: 30px; 
    }
}



