@font-face {
    font-family: 'Trend Sans One';
    src: url('./fonts/trendsansone/TrendSansOne.woff2') format('woff2'),
        url('./fonts/trendsansone/TrendSansOne.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

figure {
    margin: 0;
}

cite {
    font-style: normal;
}

p {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__logo {
    margin: 0 auto;
    color: #6794b7;
    font-size: 2.4rem;
    min-height: 5.3rem;
    display: flex;
    font-family: 'Trend Sans One';
}

.header__logo > a {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    background-color: #6b9ad0;
    min-height: 3.4rem;
    padding: 2px;
    justify-content: space-between;
}

.header__menu-buttons {
    display: inline-flex;
    list-style-type: none;
    font-family: 'Arial Regular', Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
}

.header__menu-buttons > li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.0rem;
    min-width: 3.0rem;
    background-color: hsl(212, 43%, 67%);
    margin-right: 3px;
    color: #608dc1;
    cursor: pointer;
}

.header__menu-buttons > li:last-child {
    margin-right: 0;
}

.header__menu-buttons > li:hover {
    background-color: hsl(212, 43%, 87%);
}

.tag_reverse {
    transform: rotate(180deg);
}

.header__nav-option {
    font-size: 2.0rem;
    background-color: transparent;
    border: 0;
    color: hsl(212, 31%, 75%);
    cursor: pointer;
    min-height: 3.0rem;
    min-width: 3.0rem;
}

.header__nav-option:hover {
    color: hsl(212, 40%, 95%);
}

.header__logo-img {
    min-width: 36px;
    min-height: 36px;
    margin-left: 6px;
    margin-right: 6px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px 0 16px;
}

.content__article-caption {
    font-size: 1.8rem;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #5d6871;
    background-color: #f4f5f6;
    padding: 10px 40px;
    font-weight: bold;
}

.content__article {
    min-width: 28.8rem;
    width: 100%;
    margin-bottom: 40px;
}

.content__article-img {
    width: 100%;
    height: 32.5vw;
}

.content__article-meta {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #69747c;
    font-family: 'Arial Regular', Arial, Helvetica, sans-serif;
    min-height: 40px;
    align-items: center;
    border-bottom: 1px solid #e2e5e8;
}

.content__article-meta span {
    margin-right: 3px;
}

.content__article-text {
    font-family: 'Arial Regular', Arial, Helvetica, sans-serif;
    color: #69747c;
    font-size: 1.2rem;
    text-align: justify;
    padding-top: 16px;
    margin-bottom: 20px;
}

.content__article-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: #fff;
    font-size: 1.6rem;
}

.content__article-link {
    min-width: 40px;
    min-height: 24px;
    border-radius: 3px;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 12.5%;
}

.content__article-link_facebook {
    background-color: #3c5a98;
}

.content__article-link_google-plus {
    background-color: #c25234;
}

.content__article-link_twitter {
    background-color: #00aced;
}

.content__article-link_vk {
    background-color: #48729e;
}

.content__article-link_male {
    background-color: #d83933;
}

.content__article-link-count {
    font-size: 1.3rem;
}

.article__spinner-wrapper {
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

.article__spinner {
    width: 40px;
    height: 40px;
    background-image: url("./img/spinner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    animation: spinner-rotation linear 2s infinite;
}

@keyframes spinner-rotation {
    to {
        transform: rotate(360deg);
    }
}

.content__article:last-of-type {
    margin-bottom: 0;
}


